
# Ignore everything - todo

# Allow only source go files
!*.go
!internal/

# Files & Codegen
internal/protos/*.pb.go
*_test.go
.gitignore
LICENSE
Makefile
README.md

# Dirs
.git
docker
test
docs

# Docker
*[Dd]ocker*

